.graph-data-modal .ant-modal-body {
  max-height: 70vh;
  overflow-y: auto;
}

.graph-data-modal .ant-tabs-tab {
  font-size: 14px;
}

.graph-data-modal .ant-table {
  font-size: 13px;
}

.graph-data-modal .ant-tag {
  margin: 2px;
}

